.nav {
  display: flex;
  gap: 10px;
}
  .navLink {
    text-decoration: none;
    color: white;
    padding: 4px 11px 6px;
    background-color: gray;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    
}
.active {
    background-color: rgb(219, 95, 0);
    text-decoration: none;
    color: white;
    padding: 4px 11px 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    
    
  }  