.form {
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: 350px;
    background-color: rgb(241, 241, 241);
}

.formLabel {
    display: flex;
    flex-direction: column;
    gap:4px;
    margin-bottom: 16px;
    color: rgb(219, 95, 0);
    text-transform: uppercase;
    font-weight: bold;
}

.formButton {
    margin-top: 10px;
    border-radius: 5px;
    border-color: aliceblue;
    padding-block: 7px;
    padding-inline: 18px;
    cursor: pointer;
    background-color: white;
    
    &:hover{
        background-color: rgb(219, 95, 0);
        color:white;
    }
}