.wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
    font-weight: 700;
  }
  
.userName {    
    color:  rgb(219, 95, 0) ;
  }

.formButton {
    margin-top: 10px;
    border-radius: 5px;
    border-color: aliceblue;
    padding-block: 5px;
    padding-inline: 14px;
    cursor: pointer;
    font-size: 13px;
    
    &:hover{
        background-color: rgb(219, 95, 0);
        color:white;
    }
  }
  
  